<!-- index.html or dashboard.component.html -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card text-center bg-light cardStyle" style="width: 300px;">
        <div class="card-header">Total Calories Burned</div>
        <div class="card-body">
          <p class="card-text">{{statsData.totalCaloriesBurned}} cal</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card text-center bg-light cardStyle">
        <div class="card-header">Total Distance Covered</div>
        <div class="card-body">
          <p class="card-text">{{statsData.distance | number: '1.1-1'}} Km</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card text-center bg-light cardStyle">
        <div class="card-header">Total Steps Taken</div>
        <div class="card-body">
          <p class="card-text">{{statsData.steps}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card text-center bg-light cardStyle">
        <div class="card-header">Total Time Spent</div>
        <div class="card-body">
          <p class="card-text">{{statsData.duration}} min</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card text-center bg-light cardStyle">
        <div class="card-header">Achieved Goals</div>
        <div class="card-body">
          <p class="card-text">{{statsData.achievedGoals}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card text-center bg-light cardStyle">
        <div class="card-header">Not Achieved Goals</div>
        <div class="card-body">
          <p class="card-text">{{statsData.notAchievedGoals}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card bg-light">
        <div class="card-header">Recent Workouts</div>
        <div class="card-body">
          <canvas #workoutLineChart></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card bg-light">
        <div class="card-header">Recent Activities</div>
        <div class="card-body">
          <canvas #activityLineChart></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
